// Define variables for your color scheme

// For example:
$wine: #8B322C;
$blue: #4793AF;
$yellow: #FFC470;
$orange: #DD5746;
$light-gray: #F2F1F4;
$gray-blue: #788FA1;
$shadow-blue: rgba(120, 143, 161, 0.25);
$black: #000000;
$white: #FFFFFF;