<%# er %>
<%# pe %>
<div class="navbar">
    <div class="header-logo">
        <%= image_tag 'Logo.svg', alt: 'Logo' %>
    </div>

    <div class="navbar-links">
        <%= link_to "Flow", "#flow", class: "btn", id: "btn-flow" %>
        <%= link_to "Menu", "#menu", class: "btn", id: "btn-menu" %>
        <%= link_to "Location", "#location", class: "btn", id: "btn-location" %>
    </div>
</div>