.title {
    font-family: $headers-font;
    font-size: rem(50);
    color: $blue;
    font-weight: 300;
    margin: 0;
    text-shadow: 0px 0px 20px $blue;
}

.subtitle {
    font-size: rem(20);
    color: $yellow;
    font-weight: 300;
    margin-bottom: rem(40);
}

.section-title {
    font-family: $headers-font;
    font-weight: 300;
    font-size: rem(200);
    line-height: 100%;
    margin: 0;
    color: $white;
    text-align: right;
    position: absolute;
    z-index: 2;
    left: 100%;
    transform: translateX(-100%);
}

#flow_1 .section-title {
    padding-top: rem(130);
}

#menu_1 .section-title {
    padding-top: rem(68);
}